.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    background-color: #1f37d7; 
}

.logo {
    display: flex;
    align-items: center; 
}

.logo img {
    margin-right: 10px; 
}
.logo h1{
    color: #fff;
}
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff; 
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #0056b3;
}
.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsivo */
    gap: 20px;
    padding: 20px;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.produto img {
    width: 40%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.produto h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
}

.produto p {
    font-size: 0.9rem;
    color: #555;
    text-align: center;
    margin-bottom: 10px;
}

.produto a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.produto a:hover {
    background-color: #0056b3;
}

.produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.title{
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
    color: #333;
}
.rodape {
    background-color: #1f37d7;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.rodape p {
    text-decoration: none;
    font-weight: bold;
}

.rodape a:hover {
    color: #0056b3;
    text-decoration: underline;
}